services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

  swagger-ui:
    image: swaggerapi/swagger-ui:v5.17.14
    container_name: swagger-ui
    ports:
      - "8080:8080"
    environment:
      URL: "http://localhost:8000/api/docs.jsonopenapi"
      BASE_URL: "/swagger-ui"
    depends_on:
      - minio

volumes:
  minio-data:
